*{
	margin:0px;
	padding:0px;
}

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.5px;
	background-color: #F2F2F2;
    overflow-x: hidden !important;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}
img{
	max-width: 100%;
}
/** header 
------------------**/
header{
	padding:0px 20px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
	display: inline-block;
    width: 100%;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.logo{
	float: left;
	width: 160px;
}
.main_navigation{
	float: right;
}
.main_navigation ul{
	list-style: none;
	margin-bottom: 0px;
}
.main_navigation ul li {
	display: inline-block;
	margin:0 5px;
	line-height: 6;
}
.main_navigation ul li a{
	padding: 8px 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.login_link{
	border: 3px double;
    border-radius: 50px;
}
.orange_logo{
	display: none;
}
.follow_us {
    background: #16CBFA;
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 101%;
    padding: 10px 50px 10px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    z-index: -1;
    transform: skew(25deg);
    opacity: 0;
    transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	o-transition: 0.5s ease;
}
.follow_us span{
	display: block;
	transform:skew(-25deg);
}
.follow_us .fa-twitter{
	margin-left: 10px;
}
.sticky{
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px;
	transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.sticky ul li{
	line-height: 3.5;
}
.sticky ul li a{
	color: #000;
}
.sticky .login_link{
	color: #fe700a;
}
.sticky ul li:last-child a{
	color: #fe700a;
}
.sticky .orange_logo{
	display: block;
}
.sticky .white_logo{
	display: none;
}
.sticky .follow_us{
	opacity: 1;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	o-transition: 0.5s ease;
}

/** content wrapper
-----------------------**/

.banner{
	height: 100vh;
	position: relative;
}
#home{
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px 25px 0 50px;
}
.hero_inner{
	text-align: center;
    padding-top: 25px;
}
.hero_inner img{
	max-width: 90%;
}
.banner_caption{
	position: absolute;
	bottom: 70px;
}
.banner_caption h1{
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	/*font-size: 35px;*/
    font-size: 50px;
}

.stay_updated {
    position: fixed;
    bottom: 0;
    right: -10px;
    z-index: 999;
}
.stay_block{
	list-style: none;
	margin-bottom: 0px;
}
.stay_block li{
	display: inline-block;
    background: #000;
    color: #fff;
    /*padding: 10px 20px;*/
    transform: skew(-25deg);
    margin: 0 -3px;
}
.stay_block li a{
	text-transform: uppercase;
    color: white;
    border: none;
    transform: skew(25deg);
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 1.5px;

}
.stay_block li:last-child a{
	padding-right: 25px;
}

#stay{
	background-color: #FE700A;
}
#whats_app{
	background-color: #09D660;
}
#telegram{
	background-color: #35AFE2;
}
#messenger{
	background-color: #0284FF;
}
#mail{
	background-color: #005FB3;
}

.banner_content {
    position: absolute;
    bottom: 70px;
    right: 0px;
    text-align: right;
}
.video_btn{
	display: inline-block;
    text-align: center;
}
span.video_icon {
    display: block;
    font-size: 50px;
    color: #fff;
}
span.v_text{
	font-size: 13px;
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 700;
}
.video_text a{
	color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px double;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}


.section_inner{
	padding:30px 0; 
	position: relative;
}
h1.main_title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 30px;
    font-size: 30px;
}

#quarterly{
	background-color: #343434;
}
#quarterly{
	color: #fff;
}
#quarterly h1{
	color: #fff;
	margin:0px;
}
#quarterly .left p{
	padding-right: 20px;
}

.grid_lines{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.line:last-child{
	border-right: none;
}
.line {
    width: 24.8%;
    /*width: 317px;*/
    display: flex;
    border-right: 1px solid #b9b9b9;
    display: inline-block;
    height: 100%;
    opacity: 0.3;
}
.vline{
	padding: 135px 0;
}
.vertical_line{
	display: block;
    width: 5px;
    background-color: #fff;
    height: 165px;
    text-align: center;
    margin: 0 auto;
}
.left{
	margin:100px 0;
}

.item_inner {
    padding: 10px;
}
a.read_more {
    color: #1d1d1d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 3px double;
    padding: 10px 40px;
    border-radius: 50px;
    margin: 15px;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
}
/** owl dots
--------------------**/
.owl-dot {
    border: 1px solid !important;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 10px;
    outline: none !important;
}
.owl-dot.active {
    background: #fff !important;
}
.owl-dots{
	text-align: center;
}
.owl-next {
    background: #fff !important;
    color: #000 !important;
    padding: 10px !important;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    outline: none !important;
}

.owl-prev{
    background: #fff !important;
    color: #000 !important;
    padding: 10px !important;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    outline: none !important;
}
button.owl-next {
    position: absolute;
    right: 0;
    margin-right: -40px;
    top: 45%;
}
button.owl-prev {
    position: absolute;
    left: 0;
    margin-left: -40px;
    top: 45%;
}

#agenda .vertical_line{
	background-color: #343434;
}
.agenda_block {
    border: 1px solid #fe700a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.agenda_block h3{
	text-transform: uppercase;
    font-size: 18px;
    margin-top: 0px;
    font-weight: 700;
}
.agenda_block:hover{
	background-color: #fe700a;
	color: #fff;
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
}
.agenda_block:hover h3{
	color: #fff;
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
}
#plant_visit {
    background: #343434;
    color: #fff;
}
#plant_visit .main_title{
	color: #fff;
	text-align: center;
}
.plant_left {
    padding: 0px;
    padding-left: 35px;
}
#business_model{
	margin-top: 50px;
	margin-bottom: 30px;
}
#business_model .owl-next,
#business_model .owl-prev {
    background: #343434 !important;
    color: #f2f2f2 !important;
}
#business_model .owl-dot.active {
    background: #343434 !important;
}
.table-business{
	border: 1px solid #16cbfa;
	width: 100%;
	text-align: center;
}
.table-business td, th {
    padding: 10px;
    border: 1px solid #16cbfa;
}
.pie-img img{
	max-width: 50%;
	margin:0 auto;
}
#business_model .owl-stage-outer{
	margin-bottom: 20px;
}

#competitors{
	background-color: #D9D9D9;
}

#competitors_model{
	margin-top: 50px;
	margin-bottom: 30px;
}
#competitors_model .owl-next,
#competitors_model .owl-prev {
    background: #343434 !important;
    color: #f2f2f2 !important;
}
#competitors_model .owl-dot.active {
    background: #343434 !important;
}
#competitors_model .owl-stage-outer{
	margin-bottom: 20px;
}
#competitors .vertical_line{
	background-color: #343434;
}
#competitors .pie-img img{
	max-width: 80%;
}

#investor {
    background: #343434;
    color: #fff;
}
#investor .main_title{
	color: #fff;
	text-align: center;
}

.sub_title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}
.investor_left .read_more {
    margin: 0px;
    color: #fff;
    margin-bottom: 20px;
}

#annual_reports{
	background-color: #D9D9D9;
}
#annual_reports .vertical_line{
	background-color: #343434;
}
#annual_reports .read_more{
	font-size: 14px;
    padding: 10px 20px;
}
.pdf_blocks .col-md-4{
	margin-bottom: 25px;
}
.pdf_blocks{
	padding:35px 0;
}

#key_takeaways .left{	
   	padding-right: 35px;
}
.nav-pills h3{
	margin-top: 0px;
    text-transform: uppercase;
    font-size: 20px;
}
#key_takeaways .nav-pills>li>a {
    border-radius: 4px;
    border: 1px solid #fe700a;
    color: #000;
    margin-bottom: 15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff !important;
    background-color: #fe700a;
}

#key_takeaways .vertical_line{
	background-color: #343434;
}
#key_takeaways .vline {
    padding: 185px 0;
}

#financial{
	background-color: #D9D9D9;
}
#financial .vertical_line{
	background-color: #343434;
	margin: auto 30px;
}
#financial .left{
	margin-left: -35px;
}
#financial .right{
	margin: 135px 0;
    margin-left: -32px;
}
#financial .read_more{	
    font-size: 12px;
}

#coverage {
    background: #343434;
    color: #fff;
}
#coverage .main_title{
	color: #fff;
	text-align: center;
}
#cover_videos{
	padding:50px 0;
}
.cover_block{
	text-align: left;
}
span.c_icon {
    display: inline-block;
    width: 35%;
    margin-left: 15px;
    position: relative;
    z-index: 1;
}
.cover_text {
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 3px;
    padding-top: 30px;
    margin-top: -30px;
    position: relative;
}
span.right_buy {
    display: inline-block;
    float: right;
    background: #F34500;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: -1;
    min-width: 100px;
    text-align: right;
    padding: 8px 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0px 5px 0 0;
    color: #fff;
}
.bcover_bottom {
    display: flex;
    justify-content: space-between;
}
a.left_btn {
    background: #3EC8B9;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    letter-spacing: 2px;
    width: 48%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: -3px;
    cursor: pointer;
}

a.right_btn {
    background: #FE700A;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    letter-spacing: 2px;
    width: 48%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: -3px;
    cursor: pointer;
}
.cover_text h4{
	text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
.cover_price {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: gray;
    letter-spacing: 1px;
    font-size: 12px;
}

#cover_videos .owl-next,
#cover_videos .owl-prev{
	position: relative;
	margin: 20px 10px;
}
#cover_videos .owl-dots {
    float: right;
    margin-top: 27px;
    margin-right: 30px;
}
#cover_videos .owl-nav{
	float: right;
}
#press{
	padding-bottom: 75px;
}
.press_block {
    /*border: 1px solid #c1c1c1;*/
    border-radius: 10px;
    box-shadow: 1px 5px 10px 0px gainsboro;
    text-align: left;
    margin-top: 40px;
}
.press_block .img_text h4{
	font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    position: absolute;
    bottom: 35px;
    padding: 0 10px;
}
a.p_read {
    display: block;
    background: #fff;
    padding: 10px;
    text-transform: uppercase;
    color: #313131;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0 0 10px 10px;
    font-size: 12px;
}
.press_block img{
	border-radius: 10px 10px 0 0;
}

#speak_analyst{
	background-color: #D9D9D9;
}


.rating {
    list-style: none;
}
.rating li{
	display: inline-block;
	font-size: 10px;
}
#speak_analyst .right_buy{
	padding: 5px 7px 0 25px;
}

#speak_analyst .owl-next,
#speak_analyst .owl-prev{
	position: relative;
	margin: 20px 10px;
	background: #343434 !important;
    color: #f2f2f2 !important;
}
#speak_analyst .owl-dots {
    float: right;
    margin-top: 27px;
    margin-right: 30px;
}
#speak_analyst .owl-nav{
	float: right;
}
#speak_analyst .owl-dot.active {
    background: #343434 !important;
}
#speak_slide{
	margin-top: 30px;
}


#set_meeting .read_more{
	font-size: 12px;
    padding: 10px 20px;
}
#set_meeting .vertical_line{
	background-color: #343434;
	margin: auto 30px;
}
#set_meeting .left{
	margin-left: -35px;
}
#set_meeting .right{
	margin: 100px 0;
    margin-left: -32px;
}


#conference {
    background: #d9d9d9;
    height: 50vh;
}
#conference h4{
	text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
}

.footer_block{
	background-color: #343434;
	padding:10px;
}

.copyright p{
	color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 5.5;
}
.footer{
	position: static;
}
ul.footer_links{
    list-style: none;
    line-height: 5.1;
}
ul.footer_links li{
    display: inline-block;
}
ul.footer_links li a{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    margin:10px;
    font-weight: 700;
}
.stay_fix{
    bottom: 100px;
}

/* ------------------------------  css added for changes-----------------------------*/
.side_menu {
    width: 350px;
    /*background: #0075d2;*/
    background:#F2F2F2;
    height: 100%;
    transform: translateX(350px);
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    /*transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;*/
    position: fixed;
    right: 0;
    z-index: 999;/*9999;*/
    padding: 80px 30px 0px;
    top: 0;
    overflow-x: auto;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.menu_active{
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
}

.menu_active .hamburger{
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);

}
.burger_active{
    transform: translateX(-350px);
    -webkit-transform: translateX(-350px);
    -moz-transform: translateX(-350px);
    transition:0.5s ease-in-out;
  -webkit-transition:0.5s ease-in-out;
  -moz-transition:0.5s ease-in-out;
}

.burger {
        width: 40px;
    height: auto;
    position: absolute;
    top: 20%;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    right: 0%;
    z-index: 999;/*9999;*/
    background: #fff;
}

.side_menu button.close {
    position: absolute;
    top: 8%;
    font-size: 40px;
    right: 0;
    color: #f37121;
    opacity: .9;
}

.burger__item {
    display: block;
    width: 40px;
    height: 4px;
    background: #0075d2;
    position: absolute;
    left: 10px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-top: 10px;
    /*border-radius: 50px;*/
}

.scroll-on-outsourcing .burger__item {
    background: #fff
}

.section_bcs {
    padding: 50px 0;
}
    .side_menu h1{
        text-transform: uppercase;
    font-size: 22px;
    font-weight: bolder;
    }
    .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f2f2f2;
    background-image: none;
    border-bottom: 2px solid #ccc;
        border-top: 0px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: none;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333333 !important;
  letter-spacing: 2.5px;
  font-size: 13px;
  font-weight: 600;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333333 !important;
  letter-spacing: 2.5px;
  font-size: 13px;
  font-weight: 600;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #333333 !important;
  letter-spacing: 2.5px;
  font-size: 13px;
  font-weight: 600;
}
:-moz-placeholder { /* Firefox 18- */
  color: #333333 !important;
  letter-spacing: 2.5px;
  font-size: 13px;
  font-weight: 600;
}
.side_menu p.top-text, .side_menu form {
    margin: 30px 0px;
}

/*sidebar navigation starts here--*/
nav#mainNav {
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 999;
    padding: 8% 10px 0px 10px;/*10% 10px;*/
    top: 0;
    overflow-x: auto;
}
#mainNav li {
    list-style-type: none;
        margin-bottom: 5px;
}
.section_inner {
    padding: 80px 0;
    position: relative;
}
.hover-text{
    display: none;
    text-decoration: none;
    color: #f37121;/*#*/
        font-weight: 900;
            line-height: 50px;
}
#mainNav .onload-text{
    text-decoration: line-through;
    color: #f37121;/*#*/
        font-size: 20px;
            line-height: 0px;
}
#mainNav li a:hover .hover-text {
    display: block;
    transition:0.5s ease-in-out;
  -webkit-transition:0.5s ease-in-out;
  -moz-transition:0.5s ease-in-out;
  text-decoration: none;
      font-size: 12px;
}
#mainNav li a:hover .onload-text{
    display: none;
    text-decoration: none;
}
#mainNav a:hover, #mainNav a:focus {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.perks{
        letter-spacing: 2.2px;
    font-size: 12px;
    font-weight: 900;
}
.submit{
        width: 100%;
    padding: 0px;
    border: 0px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.submit:hover{
    -webkit-box-shadow: 1px 1px 1px 1px #d3d3d3;
box-shadow: 1px 1px 1px 1px #d3d3d3;
-webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    border: 0px !important;
    background: transparent;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99999;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  /*background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);*/
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
.spinners {
    text-align: center;
    margin-top: 30px;
}
#preloader em {
    display:inline-block;
    vertical-align:top;
    margin:0 2px 0 5px;
    width:12px;
    height:12px;
    border-radius:50%;
    background-color:#e74c3c;
    animation: 1.2s ease-in-out normal none infinite preload_animate;
    -webkit-animation: 1.2s ease-in-out normal none infinite preload_animate;
}
#preloader em:nth-child(1) {
    animation-delay:0s;
    -moz-animation-delay:0s;
    -webkit-animation-delay:0s;
    background-color: #f37121;
}
#preloader em:nth-child(2) {
    animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
    background-color: #4c4d4f;
}
#preloader em:nth-child(3) {
    animation-delay:0.4s;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    background-color: #f37121;
}
#preloader em:nth-child(4) {
    animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    background-color: #4c4d4f;
}
#preloader em:nth-child(5) {
    animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}
@-webkit-keyframes preload_animate {
    0% {-webkit-transform: scale(1); opacity:1;}
    50% {-webkit-transform: scale(0.5); opacity:0.5;}
    100% {-webkit-transform: scale(1); opacity:1;}
}
@keyframes preload_animate {
    0% {transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); opacity:1;}
    50% {transform: scale(0.5); -ms-transform: scale(0.5); -webkit-transform: scale(0.5); opacity:0.5;}
    100% {transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); opacity:1;}
}

@media(max-width: 1440px){
    nav#mainNav {
        width: 300px;
        height: 100%;
        position: fixed;
        left: 0;
        z-index: 999;
        padding: 8% 10px 0px 10px;
    }
}
#mainNav i.fa.fa-arrow-circle-up, #mainNav i.fa.fa-arrow-circle-down {
    font-size: 20px;
    padding-left: 8px;
        color: #fe700a;
}