	#filters {
  		/*margin:1%;*/
  		padding:0;
  		list-style:none;
  	}
  	#filters li {
  		float:left;
  	}
  	#filters li span {
  		margin-left: 4px;
  		border: 1px solid #000;
  		display: block;
  		padding: 5px 20px;
  		text-decoration: none;
  		color: #666;
  		cursor: pointer;
  	}
  	#filters li span.active {
  		background: #000;
  		color:#fff;
  	}
  	#portfoliolist .portfolio {
  		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		-o-box-sizing: border-box;
  		width:10%;
  		/*	margin:1%;*/
  		margin: 10px 10px;
  		display:none;
  		float:none;
    
  		overflow:hidden;
  	}
  	.portfolio-wrapper {
  		overflow:hidden;
  		position: relative !important;
  		background: #666;
  		cursor:pointer;
  	}
  	.portfolio img {
  		max-width:100%;
  		position: relative;
  		top:0;
  		-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  		transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  	}
  	.portfolio .label {
  		position: absolute;
  		width: 100%;
  		height:40px;
  		bottom:-40px;
  		-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  		transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  	}
  	.portfolio .label-bg {
  		background: #000;
  		width: 100%;
  		height:100%;
  		position: absolute;
  		top:0;
  		left:0;
  	}
  	.portfolio .label-text {
  		color:#fff;
  		position: relative;
  		z-index:500;
  		padding:5px 8px;
  	}
  	.portfolio .text-category {
  		display:block;
  		font-size:9px;
  		margin-top:5px;
  	}
  	.portfolio:hover .label {
  		bottom:0;

    left: 0;

  	}
  	.portfolio:hover img {
  		top:-30px;
  	}
  	@media only screen and (min-width: 768px) and (max-width: 959px) {
  		.container {
  			width: 768px;
  		}
  	}
  	/*  #Mobile (Portrait) - Note: Design for a width of 320px */
  	@media only screen and (max-width: 767px) {
      .centerdiv{display: table;
    margin: 0 auto;
    text-align: center;}
      .tabs li{    float: none !important;}
  		.container {
  			width: 100%;
  		}
  		#portfoliolist .portfolio {
  			width: auto !important;
  			/*margin:1%;*/
  			margin: 10px 10px;
  		}
  	}

    @media only screen and (max-width: 982px) {
    .office li {
    display: inline-block;
    margin: 10px 5px !important;
    border: 1px solid #5f5f5f;
    padding: 10px;
    text-align: center;
    width: 44% !important;
}
}

  	/* #Mobile (Landscape) - Note: Design for a width of 480px */
  	@media only screen and (min-width: 480px) and (max-width: 767px) {
  		.container {
  			width: 70%;
  		}
  	}
  	.text-title{
  		color:#fff;
  	}
  	.text-title:hover {
  		color: #fff;
  		text-decoration: none;
  	}

  	.tab {
  		padding: 30px 0;
  	}
  	.tabs {
  		display: table;
  		position: relative;
  		overflow: hidden;
  		margin: 0;
  		width: 100%;
  	}
  	.tabs li {
  		float: left;
  		line-height: 38px;
  		overflow: hidden;
  		padding: 0;
  		position: relative;
  	}
  	.tabs a {
  		background-color: #eff0f2;
  		border-bottom: 1px solid #fff;
  		color: #888;
  		font-weight: 500;
  		display: block;
  		letter-spacing: 0;
  		outline: none;
  		padding: 0 20px;
  		text-decoration: none;
  		-webkit-transition: all 0.2s ease-in-out;
  		-moz-transition: all 0.2s ease-in-out;
  		transition: all 0.2s ease-in-out;
  		border-bottom: 2px solid #000;
  	}


  	.tabs_item {
  		display: none;
  	}
  	.tabs_item h4 {
  		font-weight: bold;
  		color: #87d3b7;
  		font-size: 20px;
  	}
    .current a:hover, a:focus
    {    color: #fff !important;}
   /* .tabs_item img {
      width: 200px;
      float: left;
      margin-right: 30px;
  }*/
  .tabs_item:first-child {
  	display: block;
  }

  .current a {
  	color: #fff;
  	background: #000;
  }

  #ExecutiveComm .portfolio.exe {
  	display: inline-block;
  	/*margin: 1%;*/
  	margin: 10px 10px;
  }
  .mg-40{
  	margin: 40px 0;
  }
  .show{
  	display: inline-block!important;
  }
  p.portfolio.show{
  	clear: both;
  	width: 100%!important;}

  	.off-name,.off-dsg{
  		display: block;
  	}

  	.office li{
  		display: inline-block;
	    margin: 10px 10px;
	    border: 1px solid #5f5f5f;
	    padding: 10px;
	    text-align: center;
	    width: 20%;
  	}
  	.off-name{
  		font-size: 16px;
    	font-weight: 600;
  	}
  	.off-dsg{
  		font-size: 11px;
    	font-weight: 400;
  	}