.news-holder p {
    margin-bottom: 12px;
}

.news-holder {
    
    margin: 20px auto;
    /*padding: 10px 0;*/
    padding:10px;
    background: #fff;
    /*max-width: 500px;
    font-family: Verdana, sans-serif;
    font-size: 13px;*/
   
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

.news-headlines {
  list-style: none;
  position: relative;
}

  .news-headlines li {
    padding: 5px 20px 5px 24px;
    margin-bottom: 15px;
    position: relative;
    z-index: 20;
    /*color: #000;*/
  }

  .nh-anim {
    -webkit-transition: all .75s ease-out;
    -moz-transition: all .75s ease-out;
    -o-transition: all .75s ease-out;
    transition: all .75s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .selected{
    color: #fff!important;
  }
  
  .news-headlines li:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #888;
    vertical-align: middle;
    margin-left: -12px;
    margin-right: 7px;
  }

  .news-headlines li:hover, a:hover {
      cursor: pointer;
    /*  text-decoration: underline;*/
  }
  
  .news-headlines .highlight {
     width: 100%;
     background: #000;
     color: #fff !important;
     /*-webkit-box-shadow: inset 0px 0px 30px 5px rgba(235,226,235,1);
-moz-box-shadow: inset 0px 0px 30px 5px rgba(235,226,235,1);
box-shadow: inset 0px 0px 30px 5px rgba(235,226,235,1);*/


    /* border-top: solid 1px #999;
     border-left: solid 1px #999;
     border-bottom: solid 1px #999;*/
    /* -webkit-box-shadow: -6px 0px 18px 1px rgba(181,179,181,1);
-moz-box-shadow: -6px 0px 18px 1px rgba(181,179,181,1);
box-shadow: -6px 0px 18px 1px rgba(181,179,181,1);*/
     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;
  }

  .news-headlines .highlight:before {
    display: none;
  }

.news-headlines {
   float: left;
   width: 49%;
}

.news-preview {
   float: left;
  /* border: solid 1px #999;*/
   width: 51%;
   /*background: #ededed;*/
   position: relative;
   z-index: 5;
   margin-left: -1px;
   min-height: 260px;
   position: relative;
}

  .news-preview img {
    display: block;
    border: solid 1px #999;
    /*width: 100%;*/
    /*height: 100%;*/
    /*max-width: 220px;
    max-height: 143px;*/
    margin: 0 auto 5px auto;
    max-width: 90%;
  } 

.news-content {
    position: absolute;
    background: #fff;
    z-index: 10;
    padding: 10px;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
/*   -webkit-box-shadow: 6px 0px 18px 1px rgba(181,179,181,1);
-moz-box-shadow: 6px 0px 18px 1px rgba(181,179,181,1);
box-shadow: 6px 0px 18px 1px rgba(181,179,181,1);*/
}

.top-content {
    display: block;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}