/** home intro animation **/

/** logo animation **/
.home_logo{
	opacity: 0;
	animation: logo .5s .5s forwards;
}
@keyframes logo{
	from{
		opacity: 0;
		transform:translateY(-20px);
	}
	to{
		opacity: 1;
		transform:translateY(0px);
	}
}

/** Brand list **/
.brand_list ul li{ 
	animation: brand_list 1s forwards ;
	opacity: 0;
	transform:translateY(-10px);
	transition-timing-function: ease;
}
.brand_list ul li:nth-child(1){
	animation-duration: 1s;
	animation-delay: 1s;
}
.brand_list ul li:nth-child(2){
	animation-duration: 1s;
	animation-delay: 1.5s;
}
.brand_list ul li:nth-child(3){
	animation-duration: 1s;
	animation-delay: 2s;
}
.brand_list ul li:nth-child(4){
	animation-duration: 1s;
	animation-delay: 2.5s;
}


@keyframes brand_list{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}

 /** line animation **/
 .home_divider_line{
 	/*width: 0px;*/
 	animation: draw_line 5s .5s forwards;
 	transition-timing-function: ease;
 }

 @keyframes draw_line{
 	from{
 		width: 0;
 		transition: .5s;
 	}
 	to{
 		width: 100%;
 		transition: .5s;
 	}
 }

 /** enter button **/

 .hero_btn_link{
 	opacity: 0;
 	animation: hero_btn_fade .5s 3s forwards
 }

 @keyframes hero_btn_fade{
 	from{
 		opacity: 0;
 		transform:translateY(100px);
 	}
 	to{
 		opacity: 1;
 		transform: translateY(0px);
 	}
 }

 /** home content **/

 .home_content p{
 	animation: fade_content .5s 1s forwards;
 	opacity: 0;
 }

 @keyframes fade_content{
 	from{
 		opacity: 0;
 		transition: .5s;
 	}
 	to{
 		opacity: 1;
 		transition: .5s;
 	}
 }

  /** line animation **/
.line_anim_2{
 	width: 0px;
 	animation: draw_line 5s .5s forwards;
 }

 @keyframes draw_line{
 	from{
 		width: 0;
 		transition: .5s;
 	}
 	to{
 		width: 100%;
 		transition: .5s;
 	}
 }

/** Explore button **/

.round_btn{
 	animation: round_btn_up .5s 1s forwards;
 	transform:translateY(50px);
 	opacity: 0;
}
@keyframes round_btn_up{
 	from{
 		opacity: 0;
 		transform:translateY(50px);
 	}
 	to{
 		opacity: 1;
 		transform:translateY(0);
 	}
 }

 /** index 3 page design **/

 .logo{
 	animation: main_logo 1s forwards;
 }
 @keyframes main_logo{
 	from{
 		opacity: 0;
 		transform:translateX(-20px);
 	}
 	to{
 		opacity: 1;
 		transform:translateX(0px);
 	}
 }

 span.hero_divider{
 	animation: home_draw_line 1s 1s forwards;
 	width: 0;
 }
@keyframes home_draw_line{
	from{
		width:0%;
	}
	to{
		width: 80%;
	}	
}

.hero_content h1{
	animation: heading_top .5s 1.5s forwards;
	opacity: 0;
}

@keyframes heading_top{
	from{
		opacity: 0;
		transform:translateY(50px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
.button_block{
	animation: meet_btns .2s 0.5s forwards;
    opacity: 0;
}
@keyframes meet_btns{
	from{
		opacity: 0;
		transform:translateY(-50px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}

.download_deck{
	animation: download_deck 1s 2s forwards;
	opacity: 0;
}
@keyframes download_deck{
	from{
		opacity: 0;
		transform: translateY(-50px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}

.book_appointment{
	animation: book_anime 1s 2.3s forwards;
	opacity: 0;
}
@keyframes book_anime{
	from{
		opacity: 0;
		transform: translateX(-20px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
.right_block{
	animation: right_block .5s 2.5s forwards;
	opacity: 0;
}
@keyframes right_block{
	from{
		opacity: 0;
		transform:translateY(-450px);
	}
	to{
		opacity: 1;
		transform:translateY(0px);
	}
}

.cities ul li{
	animation: fade_up .5s 3s forwards;
	opacity: 0;
}
.cities ul li:nth-child(1){
	animation-delay: 3s;
}
.cities ul li:nth-child(2){
	animation-delay: 3.2s;
}
.cities ul li:nth-child(3){
	animation-delay: 3.5s;
}
@keyframes fade_up{
	from{
		opacity: 0;
		transform: translateY(50px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}

.footer_social{
	animation: fade_social .5s 4s forwards;
	opacity: 0;
}
@keyframes fade_social{
	from{
		opacity: 0;
		transform: translateX(-150px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

#random_block{
	animation: random_corner .5s 4.5s forwards;
	opacity: 0;
}
@keyframes random_corner{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}